<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span>Metis</span>
        </div>
    </md-toolbar>
    <md-list>
        <md-item ng-repeat="item in menuItems" ui-sref="{{item.sref}}">

                <md-item-content md-ink-ripple layout="row"
                                 layout-align="start center">
                    <div class="inset">
                        <ng-md-icon  icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.name}}</div>
                </md-item-content>

        </md-item>
    </md-list>

    <!--<md-menu-content>
        <md-menu-item>
            <md-button ng-click="$mdCloseMenu()" >Patients</md-button>
        </md-menu-item>
    </md-menu-content>-->
</md-sidenav>

<div layout="column" flex>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="openLeftMenu()" hide-gt-md aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <!-- fill up the space between left and right area -->
                <span flex>{{title}}</span>
            </div>
        </md-toolbar>

    </md-content>
    <md-content flex class="md-padding page-content">
        <div ui-view></div>
    </md-content>
</div>