<md-content layout-padding>


    <div layout-padding layout="column" flex>
        <div>
            <translate>Settings</translate>
        </div>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="setLanguage(SPANISH)">
                <span class="flag-icon flag-icon-es"></span>
            </md-button>
            <md-button class="md-raised md-primary" ng-click="setLanguage(ENGLISH)">
                <span class="flag-icon flag-icon-gb"></span>
            </md-button>
        </div>

        <div>
            <md-button ng-show="hasIngredients" class="md-raised md-primary" ng-click="checkIngredients()">
                <translate>Check Ingredients</translate></md-button>
        </div>
        <div ng-show="!hasIngredients" layout-padding layout="row">
            <md-button ng-show="!loading" class="md-raised md-primary" ng-click="loadIngredients()">
                <translate>Load Ingredients</translate></md-button>
            <md-progress-circular ng-show="loading" md-mode="indeterminate"></md-progress-circular>
        </div>
        <div ng-show="hasIngredients && loadedIngredients" layout-padding>
            <translate>Ingredients have been loaded</translate>
        </div>
        <div>
            <md-button class="md-raised md-primary" ng-click="logout()">
                <translate>Logout</translate></md-button>
        </div>
        <div>
            <md-button class="md-raised md-primary" ng-click="configureIngredients()">
                <translate>Configure ingredients</translate></md-button>
        </div>
    </div>


</md-content>