<md-content layout-padding>

    <md-card>
        <div layout-padding layout="column">
            <md-input-container>
                <label><translate>English</translate></label>
                <input ng-model="ingredient.nomenclature.english.desc">
            </md-input-container>
            <md-input-container>
                <label><translate>Spanish</translate></label>
                <input ng-model="ingredient.nomenclature.spanish.desc">
            </md-input-container>
            <md-checkbox ng-model="ingredient.active" aria-label="Activo">
            </md-checkbox>
        </div>
    </md-card>

    <div>
        <md-button class="md-raised md-primary" ng-click="save()"><translate>Save</translate></md-button>
    </div>

    </md-content>