<md-dialog aria-label="Delete Patient" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><translate>Delete Patient</translate></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="nok()">
                    <ng-md-icon icon="close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h4><translate>Are you sure you want to delete?</translate></h4>

                <div ng-repeat="patient in selected">
                    <div layout="row">
                            <img class="metis-avatar" ng-src="{{patient.photo}}" style="max-width: 50px;max-height: 50px">
                        <p style="padding-left: 10px">{{patient.name}} {{patient.lastname}}</p>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button class="md-warn" style="color:black" ng-click="nok()">
                <translate>No! Sound really bad</translate>
            </md-button>
            <md-button class="md-raised pink" ng-click="ok()">
                <translate>Delete</translate>
            </md-button>

        </div>
    </form>
</md-dialog>