<md-card layout-padding>

    <md-toolbar class="md-table-toolbar md-default" ng-hide="patientList.selected.length">
        <md-input-container flex>
            <label><translate>Search</translate></label>
            <input type="text" ng-model="patientList.search"/>
        </md-input-container>
        <md-button class="md-raised md-accent" ng-click="patientList.createPatient()" aria-label="Add Patient">
            <md-tooltip md-direction="top" md-visible="tooltipVisible"><translate>New Patient</translate></md-tooltip>
            <translate>Add Patient</translate>
        </md-button>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="patientList.selected.length" layout-align="space-between"
                aria-hidden="true">
        <div>{{patientList.selected.length}} {{patientList.selected.length > 1 ? 'items' : 'item'}} selected</div>
        <md-button class="md-raised pink" ng-click="patientList.showConfirm($event)">Delete</md-button>
    </md-toolbar>
</md-card>

<md-card layout-padding>
    <md-table-container>
        <table md-table md-row-select ng-model="patientList.selected" md-progress="patientList.deferred">
            <thead  md-head md-order="patientList.query.order" md-trigger="patientList.onOrderChange">
            <tr md-row>
                <th md-column> <translate>Photo</translate></th>
                <th md-column md-order-by="patientList.patient.name"><translate>Name</translate></th>
                <th md-column md-order-by="patientList.patient.lastname"><translate>Lastname</translate></th>
                <th md-column md-order-by="patientList.patient.lastConsultation">
                    <translate>Last Consultation</translate></th>
                <th md-column md-order-by="patientList.patient.nextConsultation">
                    <translate>Next Consultation</translate></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-auto-select ng-repeat="patient in patientList.patients" ng-click="patientList.enter(patient)">
                <td md-cell><img class="avatar-md-table" ng-src="{{patient.photo}}"></td>
                <td md-cell>{{patient.name}}</td>
                <td md-cell>{{patient.lastname}}</td>
                <td md-cell>{{patient.lastConsultation.date | date:"dd/MM/yyyy"}}</td>
                <td md-cell>{{patient.nextConsultation.date | date:"dd/MM/yyyy"}}</td>
                <td md-cell>
                    <ng-md-icon ng-show="patient.public" icon="beenhere" style="fill:#777"></ng-md-icon>
                </td>
            </tr>
            </tbody>
        </table>
        </md-table-container>

    <md-table-pagination md-limit="patientList.perPage"
                              md-page="patientList.page"
                              md-total="{{patientList.patientsCount}}"
                              md-trigger="patientList.onPaginationChange"></md-table-pagination>
</md-card>