<md-content layout-padding>

    <md-card layout-padding>

        <md-toolbar>
            <md-input-container flex>
                <label translate>Search</label>
                <input type="text" ng-model="recipes.query.search"/>
            </md-input-container>

            <md-button class="md-fab" ng-click="recipes.createRecipe()" aria-label="Add Recipe">
                <md-tooltip md-direction="top" md-visible="tooltipVisible"><translate>Add Recipe</translate></md-tooltip>
                <ng-md-icon class="md-fab-24" icon="add" size="24"></ng-md-icon>
            </md-button>
        </md-toolbar>

    </md-card>

    <md-card layout-padding>
        <md-table-container id="table-recipes" ng-class=" !(recipes.showSelected === 'true') ? 'hideSelected' : ''">
            <table  md-table md-row-select ng-model="selected" md-progress="deferred">
                <thead md-head md-order="recipes.query.order" md-trigger="recipes.onOrderChange">
                <tr md-row>
                    <th md-column  md-order-by="{{recipes.descInProperLanguage}}">
                        <translate>Name</translate>
                    </th>
                    <th md-column translate>Group</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr  md-row md-select="recipe"  md-auto-select ng-repeat="recipe in recipes.recipes" ng-click="recipes.enter(recipe)">
                    <td md-cell>{{recipe.nomenclature[recipes.currentLanguage].name}}</td>
                    <td md-cell>{{recipe.nomenclature.english.group | translate}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="recipes.query.perPage"
                                  md-page="recipes.query.page"
                                  md-total="{{recipes.recipesCount}}"
                                  md-trigger="recipes.onPaginationChange"></md-table-pagination>
    </md-card>

</md-content>