<md-content>

    {{manageIngredients.caca}}
<md-card layout-padding>
    <div layout-padding layout="row" flex>
        <md-input-container flex>
            <label translate>Search</label>
            <input type="text" ng-model="manageIngredients.query.search"/>
        </md-input-container>
        <md-checkbox ng-model="manageIngredients.onlyActive" aria-label="Active">
        </md-checkbox>
    </div>
</md-card>


<md-card layout-padding>
    <md-table-container id="table-ingredients" ng-class=" !(manageIngredients.showSelected === 'true') ? 'hideSelected' : ''">
        <table md-table md-row-select ng-model="manageIngredients.selected" md-progress="deferred">
            <thead md-head md-order="manageIngredients.query.order" md-trigger="manageIngredients.onOrderChange">
            <tr md-row>
                <th md-column md-order-by="{{manageIngredients.descInProperLanguage}}">
                    Ingredient
                </th>
                <th md-column md-order-by="{{manageIngredients.descInProperLanguage}}">
                    Ingrediente
                </th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="ingredient"  md-auto-select ng-repeat="ingredient in manageIngredients.ingredients"
                ng-click="manageIngredients.enter(ingredient)">
                <td md-cell>{{ingredient.nomenclature.english.desc}}</td>
                <td md-cell>{{ingredient.nomenclature.spanish.desc}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="manageIngredients.query.perPage"
                              md-page="manageIngredients.query.page"
                              md-total="{{manageIngredients.ingredientsCount}}"
                              md-trigger="manageIngredients.onPaginationChange"></md-table-pagination>
</md-card>

</md-content>