<md-content>

    {{manageIngredients.caca}}
<md-card layout-padding>
    <div layout-padding layout="row" flex>
        <md-input-container flex>
            <label translate>Search</label>
            <input type="text" ng-model="manageIngredients.query.search"/>
        </md-input-container>
        <md-checkbox ng-model="manageIngredients.onlyActive" aria-label="Active">
        </md-checkbox>
    </div>
</md-card>


<md-card layout-padding>
    <md-data-table-container id="table-ingredients" ng-class=" !(manageIngredients.showSelected === 'true') ? 'hideSelected' : ''">
        <table md-data-table md-row-select="manageIngredients.selected" md-progress="deferred">
            <thead md-order="manageIngredients.query.order" md-trigger="manageIngredients.onOrderChange">
            <tr>
                <th name="Ingredient" order-by="{{manageIngredients.descInProperLanguage}}">
                    <translate>Ingredient</translate>
                </th>
                <th name="Ingrediente" order-by="{{manageIngredients.descInProperLanguage}}">
                    <translate>Ingrediente</translate>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="ingredient in manageIngredients.ingredients" ng-click="manageIngredients.enter(ingredient)">
                <td>{{ingredient.nomenclature.english.desc}}</td>
                <td>{{ingredient.nomenclature.spanish.desc}}</td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="manageIngredients.query.perPage"
                              md-page="manageIngredients.query.page"
                              md-total="{{manageIngredients.ingredientsCount}}"
                              md-trigger="manageIngredients.onPaginationChange"></md-data-table-pagination>
</md-card>

</md-content>