.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }

.avatar-md-table {
  max-height: 60px;
  max-width: 60px;
  border-radius: 50%;
  padding-top:5px;
  padding-bottom:5px;
}

.age-text {
	margin-top: 0px !important;
}
