<md-content layout-padding>

    <div layout="row">

        <div flex layout-margin layout-padding layout="column" class="ng-cloak">
            <div>
                <h2>{{ingredient.nomenclature.english.shrtDesc}}</h2>
                <h3 translate>{{ingredient.nomenclature.english.foodGroup | translate}}</h3>
            </div>
            <md-divider md-inset></md-divider>
            <div id="proximates">
                <h4><a ng-click="proximatesShowed = !proximatesShowed" translate>Proximates</a></h4>
                <div ng-repeat="proximate in ingredient.proximates" ng-show="proximatesShowed">
                    <p ng-if="proximate.value !== ''"><span translate>{{proximate.desc}}</span>: {{proximate.value}} {{proximate.unit}}</p>
                </div>
            </div>
            <md-divider md-inset></md-divider>
            <div id="minerals">
                <h4><a ng-click="mineralsShowed = !mineralsShowed" translate>Minerals</a></h4>
                <div ng-repeat="mineral in ingredient.minerals" ng-show="mineralsShowed">
                    <p ng-if="mineral.value !== ''"><span translate>{{mineral.desc}}</span>: {{mineral.value}} {{mineral.unit}}</p>
                </div>
            </div>
            <md-divider md-inset></md-divider>
            <div id="vitamins">
                <h4><a ng-click="vitaminsShowed = !vitaminsShowed" translate>Vitamins</a></h4>
                <div ng-repeat="vitamin in ingredient.vitamins" ng-show="vitaminsShowed">
                    <p ng-if="vitamin.value !== ''"><span translate>{{vitamin.desc}}</span>: {{vitamin.value}} {{vitamin.unit}}</p>
                </div>
            </div>
            <md-divider md-inset></md-divider>
            <div id="lipids">
                <h4><a ng-click="lipidsShowed = !lipidsShowed" translate>Lipids</a></h4>
                <div ng-repeat="lipid in ingredient.lipids" ng-show="lipidsShowed">
                    <p ng-if="lipid.value !== ''"><span translate>{{lipid.desc}}</span>: {{lipid.value}} {{lipid.unit}}</p>
                </div>
            </div>
        </div>
    </div>


</md-content>
