<md-content layout-padding>

    <div layout-padding layout="row" flex>
        <md-button class="md-raised md-primary" ng-click="createPatient()">
            <translate>New Patient</translate>
        </md-button>
    </div>

    <md-data-table-toolbar ng-hide="selected.length" aria-hidden="false" class="" style="">
        <md-input-container flex>
            <label translate>Search</label>
            <input type="text" ng-model="search"/>
        </md-input-container>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate ng-hide" ng-show="selected.length" layout-align="space-between"
                           aria-hidden="true">
        <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>


        <md-button class="md-raised pink" ng-click="showConfirm($event)">Delete</md-button>

    </md-data-table-toolbar>


    <md-data-table-container>
        <table md-data-table md-row-select="selected" md-progress="deferred">
            <thead md-order="query.order" md-trigger="onOrderChange">
            <tr>
                <th name="Photo">Photo</th>
                <th name="Name" order-by="patient.name">Name</th>
                <th name="Location">Location</th>
                <th name="Public">Public</th>
            </tr>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="patient in patients" ng-click="enter(patient)">
                <td><img class="avatar-md-table" ng-src="{{patient.photo}}"></td>
                <td>{{patient.name}}</td>
                <td>{{patient.location}}</td>
                <td>
                    <ng-md-icon ng-show="patient.public" icon="beenhere" style="fill:#777"></ng-md-icon>
                </td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="perPage"
                              md-page="page"
                              md-total="{{patientsCount.count}}"
                              md-trigger="onPaginationChange"></md-data-table-pagination>

</md-content>
