
    <md-button type="submit" style="height:64px"
               ng-click="analyticDetail.save()">
        {{analyticDetail.buttonTitle}}
    </md-button>

    <md-card flex="100">
        <div layout="row" layout-align="end center" layout-padding layout-margin layout-fill class="md-primary">
            <md-input-container flex="33">
                <label><translate>Date</translate></label>
                <input type="date" ng-model="analyticDetail.analytic.date">
            </md-input-container>
        </div>
    </md-card>

    <md-card flex="100">
        <md-toolbar class="card-header-toolbar">
            <div class="md-toolbar-tools"><translate>CBC</translate></div>
        </md-toolbar>
        <div layout="row" layout-padding layout-margin layout-fill layout-wrap class="md-primary">
            <md-input-container flex="33">
                <label><translate>Hematocrit</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.hematocrit">
                <div class="hint">%</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>RBC</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.rbc">
                <div class="hint">millions/uL</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>Hemoglobin</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.hemoglobin">
                <div class="hint">g/dL</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>VCM</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.vcm">
                <div class="hint">fL</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>MCHC</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.mchc">
                <div class="hint">g/L</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>VSG</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.vsg">
                <div class="hint">mm/hour</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>Leukocyte</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.leukocyte">
                <div class="hint">number/ml</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>Neutrophils</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.neutrophils">
                <div class="hint">%</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>Eosinophils</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.eosinophils">
                <div class="hint">%</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>Basophils</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.basophils">
                <div class="hint">%</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>Lymphocytes</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.lymphocytes">
                <div class="hint">%</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>Monocytes</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.monocytes">
                <div class="hint">%</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>Platelets</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.platelets">
                <div class="hint">number/ml</div>
            </md-input-container>
            <md-input-container flex="33">
                <label><translate>HCM</translate></label>
                <input type="number" step="any" ng-model="analyticDetail.analytic.cbc.hcm">
                <div class="hint">pg</div>
            </md-input-container>
        </div>
    </md-card>

