<md-card flex="100">
    <md-toolbar class="card-header-toolbar">
        <div class="md-toolbar-tools">Main Metrics</div>
    </md-toolbar>

    <div layout="row" layout-padding layout-margin layout-fill class="md-primary">
        <md-input-container flex="33">
            <label><translate>Weight</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.weight">
        </md-input-container>
        <md-input-container flex="33">
            <label><translate>Height</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.height">
        </md-input-container>
        <md-input-container flex="33">
            <label><translate>IMC</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.imc">
        </md-input-container>
    </div>
</md-card>
<md-card flex="100">
    <md-toolbar class="card-header-toolbar">
        <div class="md-toolbar-tools">Secondary Metrics</div>
    </md-toolbar>
    <div layout="row" layout-padding layout-margin layout-fill>
        <md-input-container flex="33">
            <label><translate>% Total Fat</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.totalFat">
        </md-input-container>
        <md-input-container flex="33">
            <label><translate>Visceral Fat</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.visceralFat">
        </md-input-container>
        <md-input-container flex="33">
            <label><translate>Total Corporal Water</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.water">
        </md-input-container>
    </div>
    <div layout="row" layout-padding layout-margin layout-fill>
        <md-input-container flex="33">
            <label><translate>Muscle</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.muscle">
        </md-input-container>
        <md-input-container flex="33">
            <label><translate>BMR</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.bmr">
        </md-input-container>
        <md-input-container flex="33">
            <label><translate>Energy Expenditure</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.energy ">
        </md-input-container>
    </div>
    <div layout="row" layout-padding layout-margin layout-fill>
        <md-input-container flex="33">
            <label><translate>Waist</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.waist">
        </md-input-container>
        <md-input-container flex="33">
            <label><translate>Hip</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.hip">
        </md-input-container>
        <md-input-container flex="33">
            <label><translate>Waist Hip index</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.waistHipIndex ">
        </md-input-container>
    </div>
    <div layout="row" layout-padding layout-margin layout-fill>
        <md-input-container flex="33">
            <label><translate>Thigh</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.thigh">
        </md-input-container>
        <md-input-container flex="33">
            <label><translate>Chest</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.chest">
        </md-input-container>
        <md-input-container flex="33">
            <label><translate>Wrist</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.wrist ">
        </md-input-container>
    </div>
    <div layout="row" layout-padding layout-margin layout-fill>
        <md-input-container flex="33">
            <label><translate>Nondominant arm</translate></label>
            <input type="number" step="any" ng-model="patient.anthropometric.nondominantArm">
        </md-input-container>
    </div>
</md-card>
