<md-card>
    <form name="anthropometricForm" novalidate style="padding-top:20px">
        <div layout="row" layout-padding layout-margin layout-fill>
            <md-input-container flex="33">
                <label>Weight</label>
                <input type="number" step="any" ng-model="patient.anthropometric.weight">
            </md-input-container>
            <md-input-container flex="33">
                <label>Height</label>
                <input type="number" step="any" ng-model="patient.anthropometric.height">
            </md-input-container>
            <md-input-container flex="33">
                <label>IMC</label>
                <input type="number" step="any" ng-model="patient.anthropometric.imc">
            </md-input-container>
        </div>
        <div layout="row" layout-padding layout-margin layout-fill>
            <md-input-container flex="33">
                <label>% Total Fat</label>
                <input type="number" step="any" ng-model="patient.anthropometric.totalFat">
            </md-input-container>
            <md-input-container flex="33">
                <label>Visceral Fat</label>
                <input type="number" step="any" ng-model="patient.anthropometric.visceralFat">
            </md-input-container>
            <md-input-container flex="33">
                <label>Total Corporal Water</label>
                <input type="number" step="any" ng-model="patient.anthropometric.water">
            </md-input-container>
        </div>
        <div layout="row" layout-padding layout-margin layout-fill>
            <md-input-container flex="33">
                <label>Muscle</label>
                <input type="number" step="any" ng-model="patient.anthropometric.muscle">
            </md-input-container>
            <md-input-container flex="33">
                <label>BMR</label>
                <input type="number" step="any" ng-model="patient.anthropometric.bmr">
            </md-input-container>
            <md-input-container flex="33">
                <label>Energy Expenditure</label>
                <input type="number" step="any" ng-model="patient.anthropometric.energy ">
            </md-input-container>
        </div>
        <div layout="row" layout-padding layout-margin layout-fill>
            <md-input-container flex="33">
                <label>Waist</label>
                <input type="number" step="any" ng-model="patient.anthropometric.waist">
            </md-input-container>
            <md-input-container flex="33">
                <label>Hip</label>
                <input type="number" step="any" ng-model="patient.anthropometric.hip">
            </md-input-container>
            <md-input-container flex="33">
                <label>Waist Hip index</label>
                <input type="number" step="any" ng-model="patient.anthropometric.waistHipIndex ">
            </md-input-container>
        </div>
        <div layout="row" layout-padding layout-margin layout-fill>
            <md-input-container flex="33">
                <label>Thigh</label>
                <input type="number" step="any" ng-model="patient.anthropometric.thigh">
            </md-input-container>
            <md-input-container flex="33">
                <label>Chest</label>
                <input type="number" step="any" ng-model="patient.anthropometric.chest">
            </md-input-container>
            <md-input-container flex="33">
                <label>Wrist</label>
                <input type="number" step="any" ng-model="patient.anthropometric.wrist ">
            </md-input-container>
        </div>
        <div layout="row" layout-padding layout-margin layout-fill>
            <md-input-container flex="33">
                <label>Nondominant arm</label>
                <input type="number" step="any" ng-model="patient.anthropometric.nondominantArm">
            </md-input-container>

        </div>
    </form>
</md-card>