<div flex="100" flex-sm="100" flex-xs="100" layout="row">
    <md-card flex-sm="50" flex-xs="100" flex="50">
        <md-toolbar class="card-header-toolbar">
            <div class="md-toolbar-tools">Personal Data</div>
        </md-toolbar>
        <div layout="row" layout-padding layout-margin layout-fill layout-wrap>
            <md-input-container flex="50" class="md-block">
                <label>First Name</label>
                <input ng-model="patient.name" name="name" required>

                <div ng-messages="generalForm.name.$error" ng-if="generalForm.name.$touched">
                    <div ng-message="required">Name is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex="50" class="md-block">
                <label>Last Name</label>
                <input ng-model="patient.lastname" name="lastname" required>

                <div ng-messages="generalForm.lastname.$error" ng-if="generalForm.lastname.$touched">
                    <div ng-message="required">Last Name is required.</div>
                    <div ng-message="md-maxlength">The last name has to be less than 30 characters
                        long.
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex="50" class="md-block">
                <label>Email</label>
                <input required ng-model="patient.email" type="email" name="emailField"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">

                <div ng-messages="generalForm.emailField.$error"
                     ng-if="generalForm.emailField.$touched">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail
                        address.
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex="50" class="md-block">
                <label>Phone Number</label>
                <input ng-model="patient.phone" name="phone" type="number" required>

                <div ng-messages="generalForm.phone.$error" ng-if="generalForm.phone.$touched">
                    <div ng-message="required">Phone number is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex="50" class="md-block">
                <label>Birthdate</label>
                <input type="date" ng-model="patient.birthdate">
            </md-input-container>
            <md-input-container flex="50" class="md-block">
                <label>Gender</label>
                <md-select ng-model="patient.gender" name="gender" required>
                    <md-option ng-repeat="gender in genderList" value="{{gender}}">
                        {{gender}}
                    </md-option>
                </md-select>
                <div ng-messages="generalForm.gender.$error" ng-if="generalForm.gender.$touched">
                    <div ng-message="required">Gender is required.</div>
                </div>
            </md-input-container>

        </div>
    </md-card>
    <md-card flex-sm="50" flex-xs="100" flex="50">
        <md-toolbar class="card-header-toolbar">
            <div class="md-toolbar-tools">Other Data</div>
        </md-toolbar>
        <div layout="row" layout-padding layout-margin layout-fill layout-wrap>
            <md-input-container flex="50" class="md-block">
                <label>Children</label>
                <md-select ng-model="patient.children" name="children" required>
                    <md-option ng-repeat="item in children" value="{{item}}">
                        {{item}}
                    </md-option>
                </md-select>
                <div ng-messages="generalForm.children.$error" ng-if="generalForm.children.$touched">
                    <div ng-message="required">Children is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex="50" class="md-block">
                <label>Work Shift</label>
                <md-select ng-model="patient.workShift" name="workShift" required>
                    <md-option ng-repeat="item in workShift" value="{{item}}">
                        {{item}}
                    </md-option>
                </md-select>
                <div ng-messages="generalForm.workShift.$error" ng-if="generalForm.workShift.$touched">
                    <div ng-message="required">>Work Shift is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex="50" class="md-block">
                <label>Profession</label>

                <input ng-model="patient.profession" name="profession" required>

                <div ng-messages="generalForm.profession.$error" ng-if="generalForm.profession.$touched">
                    <div ng-message="required">Profession is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex="50" class="md-block">
                <label>Work Type</label>
                <md-select ng-model="patient.workType" name="workType" required>
                    <md-option ng-repeat="item in workType" value="{{item}}">
                        {{item}}
                    </md-option>
                </md-select>
                <div ng-messages="generalForm.workType.$error" ng-if="generalForm.workType.$touched">
                    <div ng-message="required">Work Type is required.</div>
                </div>
            </md-input-container>
        </div>
    </md-card>
</div>
